{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5">   
  <h1>Hello, world</h1>
  <p>
    <img src="{% static 'img/side/cat.png' %}" width="300" height="240" class="d-inline-block align-top" alt="">
  </p>
  <p>
    Тут я пока не размещу информацию о себе. 
  </p>
  <p>
    <button type="submit" class="btn btn-primary">
      <a class="nav-link link-light" href={% url 'users:logout' %}>Как тебе такое, Илон Маск?</a>
    </button>
  </p>
</div>
{% endblock %} 