{% extends "base.html" %}
{% block title %}Techs{% endblock %}
{% block content %}
<div class="container py-5">   
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python чуть-чуть
        </li>
        <li class="list-group-item">
          Django туда-сюда
        </li>
        <li class="list-group-item">
          Переустановка windows<br>(не бесплатно)
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>конец истории</p>
    </article>
  </div>
</div>
{% endblock %} 